*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    user-select:none;
}

/* Khung game */

.game{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

/* Ảnh nền */

.background{
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:1;
}

/* Lá */

.leaf{
    position:absolute;
    width:250px;
    height:auto;

    z-index:2;

    cursor:grab;
    user-select:none;
}

/* Hiệu ứng đung đưa */

@keyframes sway{

    0%{
        transform:translateY(-120px) rotate(-4deg);
    }

    50%{
        transform:translateY(-120px) rotate(4deg);
    }

    100%{
        transform:translateY(-120px) rotate(-4deg);
    }
}

/* Hàng trên */

.leaf1{
    width:360px;
    top:280px;
    left:700px;
    animation:sway 3s infinite ease-in-out;
}

.leaf2{
    width:170px;
    top:270px;
    left:900px;
    animation:sway 4s infinite ease-in-out;
}

.leaf3{
    width:170px;
    top:260px;
    left:1100px;
    animation:sway 2.5s infinite ease-in-out;
}

/* Hàng dưới */

.leaf4{
    top:630px;
    left:750px;
    animation:sway 3.5s infinite ease-in-out;
}

.leaf5{
    width:270px;
    top:520px;
    left:1030px;
    animation:sway 2.8s infinite ease-in-out;
}

.leaf6{
    width:270px;
    top:480px;
    left:1250px;
    animation:sway 4.5s infinite ease-in-out;
}
.answer-container{
    position: absolute;

    bottom: 20px;
    right: 20px;

    z-index: 1000;

    display: flex;
    gap: 10px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);

}

.answer-container input{
    width:250px;
    padding:10px;

    border:none;
    border-radius:8px;

    font-size:18px;
}

.answer-container button{
    padding:10px 20px;

    border:none;
    border-radius:8px;

    cursor:pointer;

    font-size:18px;
}
#message{
    color:red;
    font-size:18px;
    font-weight:bold;
    margin-left:10px;
}
/* Ẩn game lúc đầu */

#gameContent{
    display:none;
}

/* Nút bắt đầu */

#startBtn{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    z-index:9999;

    padding:20px 50px;

    font-size:28px;
    font-weight:bold;

    border:none;
    border-radius:15px;

    cursor:pointer;
}
#startBtn{
    background:#4CAF50;
    color:white;

    box-shadow:0 0 20px rgba(0,0,0,0.3);
}
/* Ẩn game lúc đầu */

#gameScreen{
    display:none;
}

/* Màn hình bắt đầu */

#startScreen{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:black;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;
}

#startBtn{

    padding:30px 80px;

    font-size:40px;

    font-weight:bold;

    border:none;

    border-radius:20px;

    cursor:pointer;
}